<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define MainExeFileId = "MainExeFileId" ?>
  <?define ProductVersion = "!(bind.FileVersion.$(var.MainExeFileId))"?>
  <?define UpgradeCode = "02ce4299-9271-4565-b1c3-b0308c846b96"?>

  <?if $(sys.BUILDARCH)="x86"?>
  <?define Minimum_Version="100"?>
  <?define Program_Files="ProgramFilesFolder"?>
  <?elseif $(sys.BUILDARCH)="x64" Or $(sys.BUILDARCH)="ia64"?>
  <?define Minimum_Version="200"?>
  <?define Program_Files="ProgramFiles64Folder"?>
  <?else?>
  <?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
  <?endif?>

  <Product Id="*"
			 Name="$(var.ProductName)"
			 Language="1033"
			 Version="$(var.ProductVersion)"
			 Manufacturer="$(var.Manufacturer)"
			 UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="$(var.Minimum_Version)" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="[ProductName]" Level="1">
      <!-- FilesComponentGroup is generated during build -->
      <ComponentGroupRef Id="FilesComponentGroup" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>

    <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLFOLDER]" After="CostFinalize" />

    <WixVariable Id="WixUILicenseRtf" Value="Installer/License.rtf" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <!--<UIRef Id="SimpleUI"/>-->

    <!--
		  For an icon in Start menu and Apps & Features:
		    - Uncomment the code just below here
		    - Create an icon at the path shown there
		    - Add Icon="Icon" to Shortcut element, below, or set ApplicationIcon
		      in your .csproj
		-->
    <Icon Id="Icon" SourceFile="$(var.ProjectDir)\icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon" />

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.Program_Files)">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)"/>
      </Directory>
      <Directory Id="ProgramMenuFolder"/>
      <Directory Id="DesktopFolder"/>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
						  Name="$(var.ProductName)"
						  Target="[!$(var.MainExeFileId)]"
						  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="CleanUpShortCut"
							  Directory="ProgramMenuFolder"
							  On="uninstall"/>
        <RegistryValue Root="HKCU"
							   Key="Software\$(var.ProductName)"
							   Name="installed"
							   Type="integer"
							   Value="1"
			                   KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="*">
        <Shortcut Id="ApplicationDesktopShortcut"
									Name="$(var.ProductName)"
								  Target="[!$(var.MainExeFileId)]"
									WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="CleanUpDesktopShortcut"
											Directory="DesktopFolder"
											On="uninstall" />
        <RegistryValue Root="HKCU"
											 Key="Software\$(var.ProductName)"
											 Name="DesktopShortcutInstalled"
											 Type="integer"
											 Value="1"
											 KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>
